:root {
  --primary-color: #8c82fc;
  --secondary-color: #e4e3f7;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
.navigation-links {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  margin-top: 100px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 50px;
}

.about-link {
  margin: 20px;
  padding: 20px 15px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-transform: capitalize;
}
.about-link:hover {
  background-color: white;
  color: var(--primary-color);
}

.contact-link {
  margin: 20px;
  padding: 20px 15px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.contact-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logo {
  max-width: 40px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 3px;
}

.headers {
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
  display: block;
  margin-top: 0;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: blue;
}

.img-background {
  background-color: #f5f2fe;
}

.row {
  display: flex;
  justify-content: space-evenly;
}
